@media (min-width: 1100px) and (max-width: 1300px) {
    p.logo-here {padding: 0 15px;}
    p.logo-here::before {left: -5%;}
    .icon-box .mega-dropdown-menu {top: 60px;right: 0;left: auto;}
}
@media (max-width: 1365px) {
    .ad-verticle-160 {display: none;} 
}
/******** Desktop **********/
@media (max-width:990px) {
    h1{font-size:34px; line-height:36px;font-family: 'Passion One', cursive; color: #333333; margin-bottom: 20px;}
    h2{font-size:30px; line-height:32px;font-family: 'Alegreya Sans', sans-serif; color: #333333; margin-bottom: 20px;}
    h3{font-size:20px; line-height:26px;font-family: 'Alegreya Sans', sans-serif; color: #333333; margin: 0;}
    h4{font-size:26px; line-height:36px;font-family: 'Alegreya Sans', sans-serif;margin-bottom: 10px; color: #333333;}
    header .navbar-light .navbar-nav .nav-item {float: left;margin: 0;width: auto;display: inline-block;}
    header {min-height: 5rem;}
    .navbar-light .navbar-toggler {margin-top: 25px;}
    .icon-box {display: inline-block;}
    .video-top {display: none;}
    .width-600 {flex: 300px;max-width: 400px;}
    h4.artist {top: -12px;font-size: 28px;}
    .inline-radio label {font-size: 14px;font-weight: 500;padding-top: 2px;}
    .inline-radio {margin-top: 0;}
    h1.box::after {top: 10px;}
    i.arrows {top: -8px;}
    .celeb-list li span {font-size: 18px}
    .description {padding: 5px 10px;}
    .profile-pic {display: none;}
    .video-link {margin-top: 0;padding: 40px 20px;margin-bottom: 20px;display: inline-table;}
    div.side-tv {display: block;}
    .video-title {left: 14%;bottom: 8%;max-width: 450px;padding: 5px 10px;}
    .video-title small {display: block;}
    .video-bg {background: url(../img/bubble-bg.png) top left repeat #9e0e12;}
    .videos-bg-full {background-image: url(../img/full-tv.png);width: 100%;background-repeat: no-repeat;background-size: 100%;background-position: top;}
    .video-bg .videos-bg img.video-top {top: -25%;right: 4%;}
    .bg-pink div.right-side, .bg-pink div.left-side {padding: 0 10px;}
    img.video-top {top: -24%;}
    .buzz-box .photo-link, .buzz-box .details {width: 100%;}
    .about-me .description {width: 100%; margin: 0; max-width: initial;}
}
/******** iPad **********/
@media (max-width:768px) {  
    .account-info div.xs-text-center {width: auto; margin-bottom: 10px;}
    .account-info div.float-right {padding: 0 !important;}
    .account-info div.float-right span {display: none;}
    .calendar-days.tabs-main .nav .nav-item {padding: 0 15px;}
    .col-50.editor {width: 100%;}
    .youtube_link {display: none;}
    .box-office .owl-carousel .owl-nav .owl-next {right: -15px;}
    .box-office .owl-carousel .owl-nav .owl-prev {left: -15px;}
    #boxoffice.owl-carousel .owl-nav .owl-prev{left: -15px;}
    #boxoffice.owl-carousel .owl-nav .owl-next{right: -15px;}
    #castCrew.owl-carousel .owl-nav .owl-prev{left: -15px;}
    #castCrew.owl-carousel .owl-nav .owl-next{right: -15px;}
    #CastList.owl-carousel .owl-nav .owl-prev{left: -15px;}
    #CastList.owl-carousel .owl-nav .owl-next{right: -15px;}
    #CrewList.owl-carousel .owl-nav .owl-prev{left: -15px;}
    #CrewList.owl-carousel .owl-nav .owl-next{right: -15px;}
    #upcomingMovies2.owl-carousel .owl-nav .owl-next, #upcomingMovies.owl-carousel .owl-nav .owl-next{right: -10px;}
    #upcomingMovies2.owl-carousel .owl-nav .owl-prev, #upcomingMovies.owl-carousel .owl-nav .owl-prev{left: -10px;}
    .xs-col-50 {width: 50%; position: relative;}
    .title .icon-box {display: block;}
    .single-moview-timer .container {height: 70px; background: url(../img/this-week-releas-bg-ipad.jpg) 15px top no-repeat;}
    .fashion-blog {margin: 0 auto 20px;text-align: center;}
    .glamour-bg {background: #FFECEE;}
    .quiz h5 {padding: 10px 0;}
    #share-article {display: none !important;}  
    .nav-item.float-left.border-l-r{border-right: 0; margin:0 0 0 10px; padding-left: 5px;}
    .right-nav{margin-top: 25px; position: absolute; right: 0; margin-top: 17px;}
    .collection-img {display: none;}
    .about-me .card {padding: 15px 20px;}
    .guest-blog .card-footer{background: transparent; width: 100%;padding: 15px 0;}
    .navbar-collapse {width: auto;border-top: 0;-webkit-box-shadow: none;box-shadow: none;}
    .navbar {display: block;}
    .navbar-light .navbar-toggler {margin-top: 25px;}
    .navbar-toggle {top: 14px;float: left;}
    .movie-image {display: none;}
    .pagination-box .pagination {display: block;}
    .celebs-list-view .celeb-list {margin-bottom: 15px;}
    .celeb-des {background: none;}
    .celeb-des div {padding: 0;}
    .celebs-dir .pagination-box li {float: left;}
    .bottom-btn  {width: 100%;text-align: center;}
    .pagination-box-left {width: 100%;}
    .table-content .shadow {height: auto;}
    .button {text-align: center;margin-bottom: 20px;}
    .button a {display: inline-block;}
    .box-office-navs {display: block;}
    .profile .icon-box {position: absolute;top: 0;left: 50%;margin: 0;}
    .profile {border: none;}
    .box-office .owl-nav .owl-next::after {right: 0;}
    .box-office .owl-nav .owl-prev::after {left: 0;}
    #boxOffice .boxOffice label span {padding: 0 8px;}
    #boxOffice .boxOffice label span b {font-weight: 400;font-size: 18px;}
    .inline-button {display: block;margin: 10px 0 10px;}
    p.news-details {padding: 0;}
    .upcoming-movie .card-footer {width: 70%;}
    .bollywood-life p.lead {font-size: 22px;line-height: 28px;}
    section {padding: 40px 0;}
    h5.title {font-size: 30px;line-height: 34px;}
    .bubble-tv-box h2.sideTitle {background-size: auto 63%;}
    p.release {white-space: nowrap;}
    .glamour .row .sidedescription {padding: 15px;}
    .sub-cat p.lead {padding: 10px 5px 5px;}
    .celeb-list li:nth-child(1){width: 36.37%;}
    .celeb-list li:nth-child(2){width: 27.26%;}
    .celeb-list li:nth-child(3){width: 36.37%;}    
    .celeb-list li:nth-child(4){width: 42.85%;}
    .celeb-list li:nth-child(5){width: 57.15%;}
    .celeb-list li span{opacity: 1;font-size: 15px;}
    .bubble-icons::before {display: none;}
    #mySidenav .inner .icon-box {text-align: center;width: 100%;display: flex;margin: auto;}
    #mySidenav .inner .icon-box ul {display: inherit;margin: auto;}
    .ad-horizontal-970 {display: none;}
    .width-600 .ad-horizontal-674 {display: none;}
    #videos .nav-item {margin-bottom: -1px;padding: 5px;}
    .navbar-light .navbar-nav .nav-link {padding: 5px 10px;}
    header .navbar-light .navbar-nav .nav-item {float: right;margin: 0;width: auto;display: inline-block;}
    .bg-white .photo-list h2 {font-size: 20px;line-height: 26px;margin: 0; padding-top: 10px;}
    h2.sideTitle {background-size: auto 53%;}
    .width-600 { max-width: 100%;}
    .videos-bg-full { background: none;}
    .card-title {padding: 5px;}
    #carouselExampleSlidesOnly {padding-top: 10px;}
    .description {padding:10px;margin: auto;max-width: 320px;}

    .boxOffice .p-static label {font-size: 14px;}
    .video-title {left: 20%; bottom: -1px;line-height: 24px;max-width: 400px;padding: 10px 20px;}
    .bubble-icons {background: none;}
    .login-social .btn {font-size: 14px;padding: 5px 10px;}
    .navbar .navbar-brand{float: left;margin: 0;padding:0;}
    .grid-videos .d-grid {display: none;}
    .video-bg {background: url(../img/bubble-bg.png) top left repeat #9e0e12;;}
    .height80 {height: 100%;}
    .height60 {background-image: none;height: auto;}
    .video-top {display: none;}
    .video-link {padding: 0; margin-bottom: 30px; }
    .video-head {padding: 0 5px;}
    .video-details {padding-top: 0;}
    .tabs-main {text-align: center;}
    .tabs-main .nav .nav-item:nth-child(1) {padding-left: 0;}
    .tabs-main .nav .nav-item:last-child {padding-right: 20px;}
    header {min-height: 4rem;}
    div.side-tv {display: none;}
    .collapse.navbar-collapse{display: block;}
    .inline-button {display: block;}
    .videos-bg {background-image: none;padding-bottom: 0;}
    img.antenna {display: none;}
}

/******** Mobile Device **********/
@media (max-width:600px) {
    .quiz-content{padding: 20px;}
    .quiz-result li div{margin-bottom: 10px;min-width: 230px;}
    .result_quiz .trophy:before{display: none;}
    .result_quiz{background: none;}
    .movie-details:before{display: none;}
    .prediction .float-right label{padding: 0;min-width: 80px;}
    .prediction #slider-range-min small{padding-right: 17px;}
    .ratings .col-md-7 > div.prediction {display: flex;}
    .prediction #slider-range-min {max-width: 180px;display: inline-block;}
    .ratings.xs-mb {margin-bottom: 20px;}
    form .title > div img {display: none;}
    #settingModal .modal-body {padding: 15px;}
    #settingModal .modal-body form {padding: 0 20px;}
    #r-tabs {padding: 0;}
    .account-info .blog-imgae {padding: 0;height: auto;}
    .genre-filter .filters {height: 200px;overflow-y: auto;}
    .movie-details .share-buttons {width: 20px;}
    .video-details .share-buttons .icon-box {padding: 0 15px;}
    #movieOverview article .card {height: auto; margin-bottom: 20px;}
    .box-button {margin: 10px auto;text-align: center;}
    .movie-list .rating .star-ratings-css label {float: left;}
    .videos .container > .row > .col-md-12 {padding: 0;}
    #videos .nav-link {padding: 10px 10px !important; white-space: nowrap;}
    #tablist .nav-link, #r-tabs .nav-link {padding: 0 !important; white-space: nowrap;}
    #videos, #tablist, .calendarBox .calendar-days .nav{display: flex;flex-wrap: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
    #videos .nav-item, #tablist .nav-item, #r-tabs .nav-item{display: inline-block;}
    #r-tabs .nav-item {padding: 0 8px !important; margin-bottom: 10px;}
    input.form-control::placeholder{font-size: 16px;}
    .search-box {width: 90%;}
    .filter-box {display: none;}
    .bg-bottom {background: none;}
    .bg-bottom-speak {background: none;}
    .bubble-s {padding: 0 15px;}
    .nostalgia-grey div[class^="col-"] { padding: 0 5px;}
    .nostalgia-list .card {margin: 0; bottom: 0; padding: 10px 15px;}
    .card.photo {display: inline-block; margin-bottom: 15px;}
    .card.photo > a {width: 50%; float: left;}
    .card.photo > div {width: 50%; float: left; text-align: left !important;}
    .interview-text p {background: url(../img/before-text.png) top left no-repeat, url(../img/after-text.png) bottom right no-repeat;background-size: 30px;padding: 0 40px;}
    .grid-videos .col-50 .card-link, .grid-videos .card-link {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;}
    .grid-videos .col-50 .card-link .video-content, .grid-videos .card-link .video-content {width: 40%;}
    .grid-videos .col-50 .card-link .video-sub, .grid-videos .card-link .video-sub{width: 60%; padding: 5px;}
    article.video-bg div.videos-bg {padding-bottom: 0;}
    .width-600 {margin-bottom: 40px;}
    .title .icon-box {display: inline-block;}
    .result-image {margin: auto;}
    .video-link::after {top: 25%;}
    #carousel1 .owl-stage-outer {text-align: center !important;}
   .single-moview-timer .container {height: 70px; background: url(../img/this-week-releas-bg-mobile.jpg) 15px top no-repeat;}
   .single-moview-timer .smalltext {display: inline-block!important;}
    #carousel1 .item {padding: 0;}
    #carousel1 .item span {display: none;}
    #carousel1 .item h5 {font-size: 22px; margin: 0;}
    .arrowsSub, i.arrows  {display: none;}
    div.title h1{font-size: 32px;}
    ul.filter-list li{min-width: 130px;}
    ul.filter-list{width: 130px;}
    .filter-box {width: 130px;}
    .search-box {padding-left: 0;}
    .filter-box ul li a {padding: 5px;}
    div.modal.search-modal .modal-dialog .modal-header.container {width: 100%;}
    .floating-nav {display: block;}
    .comment-box{background-image: none;padding: 20px 30px 30px 30px;}
    .comment-box h2{margin-left: 0px;}
    .box-office-list {min-height: auto;}
    .full-h {height: auto;}
    .profile .icon-box {left: 85%;}
    .tabs-main .nav .nav-item:nth-child(1) {padding-left: 20px;}
    .photo-list {margin-bottom: 30px;}
    .celeb-list li:nth-child(1){width: 100%;}
    .celeb-list li:nth-child(2){width: 100%;}
    .celeb-list li:nth-child(3){width: 100%;}
    .celeb-list li:nth-child(4){width: 100%;}
    .celeb-list li:nth-child(5){width: 100%;}
    .celeb-list li span{font-size: 15px;}
    .ad-horizontal-674 {display: none;}
    .right-bar-fix-width-300 {max-width: 100%;}
    .md-col-50 {width: 100%;}
    .card {height: auto;}
    .navbar-toggleable-md>.container {width: 100%;padding: 0 15px;}
    .grid-videos .d-grid {display: none;}
    .card-title { margin-bottom: 0;}
    .bg-pink div.right-side, .bg-pink div.left-side, .bg-pink div.main-special {padding: 0 15px;}
    .video-list ul li{padding: 0 15px 15px 15px;}
    .tabs-main .nav {display: inline-block;text-align: center;border-bottom: none;}
    .main-special h2, .exclusive h2 {font-size: 22px;line-height: 28px;padding-top: 15px;margin: 0;color: #2b303a;font-weight: 500;}
    .main-special .card-link, .exclusive .card-link {margin-bottom: 15px;}
    h2.title.text-center {padding: 0 5px;}
    .xs-fit-content {width: fit-content;margin: auto;margin-bottom: 20px;}
    #clockdiv {padding: 5px 10px;}
    div.smalltext {display: none !important;}
    #clockdiv div > span {padding: 4px 10px;font-size: 20px;}
    .description p {font-size: 24px;line-height: 28px;font-weight: 100;}
    .backgroung-icon.left, .backgroung-icon.right {display: none;}
    .upcomingMovie {display: block; margin: auto;text-align: center;}
    .col-xs-6 {width: 50%;}
    #slider2 .item .card-footer {margin: auto;}
    .xs-text-center {text-align: center;width: 100%;}
    .video-title {position: relative;left: 0;right: 0;padding: 10px;line-height: normal!important;}
    #clockdiv {padding-top: 0;}
    .full-wide > .nav-tabs {display: block;text-align: center;}
    .full-wide > .nav-tabs .nav-link {padding: 5px 0 !important;}
    .icon-box ul {float: left;}
    section.not-found h1 {font-size: 25px;margin: 20px 0 0 0;}
    #login .modal-dialog {width: 320px;}
    #login .modal-dialog .modal-content {border: none; padding: 0 20px; background: url(../img/login-bg-mobile.png) center center no-repeat #b60300 ;}
    #login .modal-header {min-height: 150px;background-size: 129px;}
    .video-content::after {height: 24px;width: 24px;font-size: 14px;line-height: 26px;}
    .video-content.width-40 {width: 40%; float: left;}
    .video-content.width-40 .duration {padding: 5px;}
    .width-60 {width: 60%; float: left;}
    .card-link h3 {line-height: 26px;}
    .exclusive-r .videos .width-60, .left-side .videos  .width-60,.right-side .videos  .width-60 {padding: 0 0 0 10px;}
    .exclusive-r .videos .width-60 h3, .left-side .videos  .width-60 h3, .right-side .videos  .width-60 h3{padding: 0;}
    .events .videos .width-60 {padding: 0 0 0 10px;}
    .events .videos .width-60 h3 {padding: 0; line-height: 24px;}
    .ratings .col-md-7 > div {display: grid;text-align: left;}
    .ratings .col-md-7 > div a {max-width: 200px;margin-bottom:10px;text-align: center;}
}

@media (max-width: 769px) {
    .quiz-content .border-right{background: transparent; padding: 0; margin-bottom: 20px;}
    #calendar_slide {width: 300px;}
    #carousel1 .item {text-align: center;}
    .width-600 .rating-view {padding: 0 15px; text-align: center;}
    .about-me .card .item .image {width: 75%; margin: auto;}
    #castCrew .owl-nav .owl-next::after, #CastList .owl-nav .owl-next::after, .CrewList .owl-nav .owl-next::after {right: 0;}
    #castCrew .owl-nav .owl-prev::after, #CastList .owl-nav .owl-prev::after, .CrewList .owl-nav .owl-prev::after {left: 0;}
    .player {padding: 0;}
    #upcomingMovies .owl-nav {display: block !important;color: transparent;height: 0;}
    .button a {padding: 6px 0;font-size: 13px;}
    .xs-hidden {display: none !important;}
    #carousel1 .owl-stage-outer {text-align: left;}
    #castCrew .item .image, #CastList .item .image, #CrewList .item .image {margin-bottom: 15px!important;padding: 5px;width: 75%;margin: auto;}
}
@media (min-width: 769px) {
    .md-hide {display: none;}
    .navbar-collapse.collapse {display: block;height: auto!important;padding-bottom: 0;overflow: visible!important;visibility: visible!important;}
    .xl-hidden {display: none;}
    .navbar-toggle {display: none;}
    .grid-videos.row {margin: 0;margin-top: 30px;}
    .navbar-brand {padding:  10px 10px 10px 30px;}
}
@media (max-width: 767px) {
    .celeb-list li span {font-size: 16px}
    ul.timeline:before {left: 20px;}
    ul.timeline > li {margin-bottom: 20px;position: relative;width:100%;float: left;clear: left;    }
    ul.timeline > li > .timeline-panel {width: calc(100% - 90px);width: -moz-calc(100% - 90px);width: -webkit-calc(100% - 90px);}
    ul.timeline > li > .timeline-panel {float: right;}
    ul.timeline > li > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
    ul.timeline > li > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
    .timeline > li.timeline-inverted{float: left;clear: left;margin-top: 30px;margin-bottom: 30px;}
    .timeline > li.timeline-inverted > .timeline-panel, ul.timeline > li > .timeline-panel {width: 85%;}
    .timeline h1:nth-child(odd) {width: 100%;white-space: nowrap;}
    .timeline h1 {float: left!important; padding: 0 50px; margin-bottom: 0px;}
    .timeline > li:after, .timeline > li.timeline-inverted:after {left: 14px;}
    .timeline:after {left: 19px;}
    .videos-bg .grid-videos {padding: 0 15px;}
    .xs-text-center {text-align: center;}
    div#order1 {order:1;}
    div#order2 {order:2;}
    .prediction .progress {width: 180px;}
    .prediction .tags_small small{padding-right: 19px;}
    .ratings .rating{margin-bottom: 35px;}
}
@media(min-width: 767px) and (max-width: 990px){
    .prediction .progress {width: 220px;}
    .ratings .col-md-7 {padding: 0;}
    .ratings{margin-bottom: 15px;}
}
@media (min-width: 576px) {
    .bolly-wide {width: 500px;max-width: 100%;}
    .col-50 {width: 50%;}
    #blogModal .modal-body {padding: 15px 100px;}
    #blogModal .modal-dialog {max-width: 700px;}
    #settingModal .modal-dialog, #forgotPass .modal-dialog{max-width: 700px;}
}
@media (min-width: 768px) {
    .bolly-wide {width: 720px;max-width: 100%;}
    .navbar-header {float: left;padding: 0 15px;}
    .navbar-toggle {display: none;}
    #blogModal .modal-body {padding: 15px 120px;}
    #blogModal .modal-dialog {max-width: 800px;}
}
@media (min-width: 990px) {
    div.side-tv {display: none;}
    .grid-videos {padding-right: 15px;margin-top: 30px;}
    .bolly-wide {width: 950px;max-width: 100%;}
}
@media (min-width: 1200px) {
    .bolly-wide {width: 1080px;max-width: 100%;}  
}
@media (min-width: 600px) and (max-width: 990px){
    .md-col-50 {width: 50%; padding: 0 15px;}
    .videos-bg .grid-videos .md-col-50 .card {height: 100%; margin: 0;}
}
@media (max-width: 370px) {
    h1 {font-size: 30px;}
}
@media (min-width: 990px) and (max-width: 1200px) {
    h4.video-title {left: 30px;}
    header nav .navbar-nav li{margin: 17px 7px 0 7px}
}
@media (min-width: 660px) and (max-width: 730px) {
    .video-link .video-title {left: 9%;}
}
